/* BACKGROUNDS */
.bebl-red-bg {
    background: rgb(255, 85, 85);
    background: -moz-linear-gradient(135deg, rgba(255, 85, 85, 1) 0%, rgba(225, 55, 55, 1) 45%, rgba(218, 43, 43, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255, 85, 85, 1) 0%, rgba(225, 55, 55, 1) 45%, rgba(218, 43, 43, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 85, 85, 1) 0%, rgba(225, 55, 55, 1) 45%, rgba(218, 43, 43, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5555", endColorstr="#da2b2b", GradientType=1);
}

.bebl-orange-bg {
    background: rgb(205, 105, 75);
    background: -moz-linear-gradient(135deg, rgba(205, 105, 75, 1) 0%, rgba(225, 110, 75, 1) 45%, rgba(227, 89, 47, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(205, 105, 75, 1) 0%, rgba(225, 110, 75, 1) 45%, rgba(227, 89, 47, 1) 100%);
    background: linear-gradient(135deg, rgba(205, 105, 75, 1) 0%, rgba(225, 110, 75, 1) 45%, rgba(227, 89, 47, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd694b", endColorstr="#e3592f", GradientType=1);
}

.bebl-turquoise-bg {
    background: rgb(83, 222, 222);
    background: -moz-linear-gradient(135deg, rgba(83, 222, 222, 1) 0%, rgba(58, 195, 195, 1) 45%, rgba(41, 154, 154, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(83, 222, 222, 1) 0%, rgba(58, 195, 195, 1) 45%, rgba(41, 154, 154, 1) 100%);
    background: linear-gradient(135deg, rgba(83, 222, 222, 1) 0%, rgba(58, 195, 195, 1) 45%, rgba(41, 154, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53dede", endColorstr="#299a9a", GradientType=1);
}

.bebl-yellow-bg {
    background: rgb(255, 176, 73);
    background: -moz-linear-gradient(135deg, rgba(255, 176, 73, 1) 0%, rgba(220, 142, 40, 1) 45%, rgba(199, 126, 30, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255, 176, 73, 1) 0%, rgba(220, 142, 40, 1) 45%, rgba(199, 126, 30, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 176, 73, 1) 0%, rgba(220, 142, 40, 1) 45%, rgba(199, 126, 30, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb049", endColorstr="#c77e1e", GradientType=1);
}

.bebl-purple-bg {
    background: rgb(183, 116, 252);
    background: -moz-linear-gradient(135deg, rgba(183, 116, 252, 1) 0%, rgba(167, 92, 246, 1) 45%, rgba(132, 64, 203, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(183, 116, 252, 1) 0%, rgba(167, 92, 246, 1) 45%, rgba(132, 64, 203, 1) 100%);
    background: linear-gradient(135deg, rgba(183, 116, 252, 1) 0%, rgba(167, 92, 246, 1) 45%, rgba(132, 64, 203, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b774fc", endColorstr="#8440cb", GradientType=1);
}

.bebl-lime-bg {
    background: rgb(172, 249, 95);
    background: -moz-linear-gradient(135deg, rgba(172, 249, 95, 1) 0%, rgba(107, 169, 45, 1) 50%, rgba(100, 181, 18, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(172, 249, 95, 1) 0%, rgba(107, 169, 45, 1) 50%, rgba(100, 181, 18, 1) 100%);
    background: linear-gradient(135deg, rgba(172, 249, 95, 1) 0%, rgba(107, 169, 45, 1) 50%, rgba(100, 181, 18, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#acf95f", endColorstr="#64b512", GradientType=1);
}

.bebl-bluesky-bg {
    background: rgb(101,203,255);
    background: -moz-linear-gradient(135deg, rgba(101,203,255,1) 0%, rgba(43,146,198,1) 50%, rgba(33,121,166,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(101,203,255,1) 0%, rgba(43,146,198,1) 50%, rgba(33,121,166,1) 100%);
    background: linear-gradient(135deg, rgba(101,203,255,1) 0%, rgba(43,146,198,1) 50%, rgba(33,121,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65cbff",endColorstr="#2179a6",GradientType=1);
}


/* BORDER */
.bebl-red-border {
    border: 2px solid rgb(255, 85, 85);
}

.bebl-orange-border {
    border: 2px solid rgb(205, 105, 75);
}

.bebl-turquoise-border {
    border: 2px solid rgb(83, 222, 222);
}

.bebl-yellow-border {
    border: 2px solid rgb(255, 176, 73);}

.bebl-purple-border {
    border: 2px solid rgb(183, 116, 252);
}

.bebl-lime-border {
    border: 2px solid rgb(172, 249, 95);
}

.bebl-bluesky-border {
    border: 2px solid rgb(101,203,255);
}


