@import "../utils/variables";
 
/* DARK/LIGHT MODE VARIATIONS */

.dark-mode {
    color: $dark-text-color;
    background-color: $bebl-black1;

    section {
        background-color: $bebl-black1;
    }

    .sidebar-nav .offcanvas {
        color: $dark-text-color;
        background-color: rgb(5, 5, 5);
    }

    #mainbar {
        background-color: rgb(5, 5, 5);
    }

    footer {
        color: $dark-text-color;
        background-color: rgb(5, 5, 5);
    }

    #pagebar {
        background-color: rgba(20, 20, 20, 0.9);
    }
    .slot {
        a {
            text-decoration: none;
        }
        .nav-text {
            color: $dark-text-color;
        }
        &:hover {
            background-color: #fafafa50;
        }
    }
    .content-wrapper, & .card, & input  {
        background-color: rgb(42, 42, 42);
    }

    .form-control:focus {
        color: $dark-text-color;
        background-color: rgb(42, 42, 42);
        border: none;
        border-color: orangered;
        border-bottom: 1px solid red;
    }
}

.light-mode {
    color: $light-text-color;
    background-color: #fbfbfb;

    section {
        background-color: #fbfbfb;
    }

    #mainbar {
        color: $light-text-color;
        background-color: #e4e4e4;
        -webkit-box-shadow: 5px 5px 6px 3px rgba(0,0,0,0.05); 
        box-shadow: 5px 5px 6px 3px rgba(0,0,0,0.05);
    }

    .sidebar-nav .offcanvas {
        color: $light-text-color;
        background-color: #e4e4e4;
        -webkit-box-shadow: 5px 5px 6px 3px rgba(0,0,0,0.05); 
        box-shadow: 5px 5px 6px 3px rgba(0,0,0,0.05);
    }

    #pagebar {
        color: $light-text-color;
        background-color: rgb(224, 224, 224, 0.9);
        -webkit-box-shadow: 5px 5px 6px 3px rgba(0,0,0,0.05); 
        box-shadow: 5px 5px 6px 3px rgba(0,0,0,0.05);
    }

    footer {
        color: $light-text-color;
        background-color: #e4e4e4;
    }

    .slot {
        a {
            text-decoration: none;
        }
        .nav-text {
            color: $light-text-color;
        }
        &:hover {
            background-color: #94949450;
        }
    }
    .content-wrapper, & .card, & input  {
        background-color: #dfdfdf;
    }
}

#banner {
    color: white;
}

/* FORMS */

.form-group {
    font-family: $navbar-font-family;
}

/* TEXT */

body {
    font-family: $text-font-family;
}

h1, h2, h3 {
    font-family: $title-font-family;
    font-weight: 500;
}

.quotation h1, .quotation p {
    font-family: $quote-font-family!important;
}

#notification-wrapper {
    background-color: rgba(157, 232, 107, 0.90);
}

.notification-content {
    color: black !important;
}