@import "../utils/variables";
 
/* DARK/LIGHT MODE VARIATIONS */

.dark-mode {
    color: $dark-text-color;
    background-color: $bebl-black1;

    #leftbar {
        background-color: $bebl-black4;
    }

    #mainbar {
        background-color: $bebl-black6;
    }

    #pagebar {
        background-color: rgba(20, 20, 20, 0.9);
    }
    .slot {
        a {
            text-decoration: none;
        }
        .nav-text {
            color: $dark-text-color;
        }
        &:hover {
            background-color: #fafafa50;
        }
    }
    .content-wrapper, & .card, & input  {
        background-color: rgb(42, 42, 42);
    }
}

.light-mode {
    color: $light-text-color;
    background-color: $light-background-color;

    #leftbar {
        background-color: $navbar-background-color;
        .slot {
            a {
                text-decoration: none;
            }
            .nav-text {
                color: $light-text-color;
            }
            &:hover {
                background-color: #cecece50;
            }
        }
    }

    #mainbar {
        background-color: $navbar-background-color;
        a {
            text-decoration: none;
        }
        .nav-text {
            color: $light-text-color;
        }
    }

    #pagebar {
        background-color: rgba(20, 20, 20, 0.8);
        a {
            text-decoration: none;
        }
    }
    .content-wrapper, & .card, & input  {
        background-color: rgb(255, 255, 255);
    }
}

#banner {
    color: white;
}

/* FORMS */

.form-group {
    font-family: $navbar-font-family;
}

/* TEXT */

body {
    font-family: $text-font-family;
}

h1, h2, h3 {
    font-family: $title-font-family;
    font-weight: 500;
}

.quotation h1, .quotation p {
    font-family: $quote-font-family!important;
}

#notification-wrapper {
    background-color: rgba(157, 232, 107, 0.90);
}

.notification-content {
    color: black !important;
}