@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

$navbar-background-color: rgb(16, 16, 16);

$dark-background-color: rgb(28, 28, 28); 
$dark-leftbar-color: rgb(16, 16, 16);
$dark-text-color: rgb(255, 255, 255);

$light-background-color: rgb(230, 230, 230);
$light-leftbar-color: rgb(16, 16, 16);
$light-text-color: rgb(255, 255, 255);

$navbar-font-family: 'Rubik', sans-serif;
$title-font-family: 'Akshar', sans-serif;
$main-font-family: 'Roboto Slab', serif;
$text-font-family:'Lato', sans-serif;
$quote-font-family: 'Handlee', cursive;