#leftbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    z-index: 500;
    align-items: center;
    & .left-items {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        &.bottom {
            margin-top: auto;
        }
    }

    & .nav-text { 
        margin-left: 10px;
    }
}

#mainbar {
    display: flex;
    top: 0; 
    position: fixed;
    width: 100%;
    z-index: 1000;
    align-items: center;
    flex-direction: row;
    .nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    a {
        color: white;
        text-decoration: none;
    }
}



.slot {
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 300ms;
    :hover {
        cursor: pointer;
    }
}

#pagebar {
    display: flex;
    position: fixed;
    top: relative;
    width: 100%;
    z-index: 1000;
    align-items: center;
    flex-direction: row;
}