#leftbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .left-items {
        margin-top: 5px;
        display: flex;
        position: fixed;
        flex-direction: column;
        height: 90%;
        &.bottom {
            margin-top: auto;
        }
    }

    & .nav-text { 
        margin-left: 10px;
    }

    @media (max-width: 995px) {
        & .nav-text {
            display: none;
        }

        & .brand-icon {
            align-items: center;
            margin-left: auto;
        }

        & .brand-text {
            display: none;
        }
    }
}

#mainbar {
    display: flex;
    position: sticky; 
    z-index: 650;
    top: 0; 
    z-index: 500;
    align-items: center;
    flex-direction: row;
    .nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    a {
        color: white;
        text-decoration: none;
    }
}



.slot {
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 300ms;
    :hover {
        cursor: pointer;
    }
}

#pagebar {
    display: flex;
    position: fixed;
    z-index: 350;
    z-index: 200;
    width: 100%;
    align-items: center;
    flex-direction: row;
}